$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;
$white2: #F2F2F2;

.about {
  background: $white2;
  width: 100%;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
}

.container {
  width: 60%;
  height: 92vh;
  height: auto;
  padding-top: 19vh;
  margin: auto;
  display: flex;
  z-index: 8;
}

.layerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;

  .span {
    transform: rotate(90deg);
    font-size: 12vw;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 12vw;
    color: $black;
  }
}

.layerRight {
  width: 50%;
  height: 100vh;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2vw;
  font-weight: 700;
  color: $black;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.firstMainTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2vw;
  font-weight: 700;
  color: $black;
  margin-top: 0;
  margin-bottom: 3rem;
}

.title {
  text-transform: uppercase;
}

.line {
  width: 100px;
  border: 2px solid $black;
  margin: 0 10px -4% 10px;
}

.sub {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1vw;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;

  .line {
    margin: 0 6px -1.5% 6px;
  }
}