$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;

.header {
  height: 8vh;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.wrapper {

}

.innerHeader {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.spanLight {
  margin-left: 5rem;
  color: $white;
  font-weight: 700;
}

.spanDark {
  margin-left: 5rem;
  color: $black;
  font-weight: 700;
}

.linkLight {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: $white;
}

.linkDark {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: $black;
}

.close {
  .button {
    cursor: pointer;
    font-size: 2rem;
    color: $white;
  }

  .svg {
    color: $white;
    font-size: 1.4rem;
  }
}