$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;
$white2: #F2F2F2;

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rikos";
  src: url("/fonts/Rikos/Rikos.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.about-main {
  background-color: $black;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 8vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.about-container {
  width: 60%;
  height: 120vh;
  margin: auto;
  display: flex;

  @media (max-width: 600px) {
    width: 90%;
  }
}

.about-left-layer {
  width: 50%;
  height: 100%;

  @media (max-width: 1260px) {
    display: none;
  }
}

.about-title {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  color: $white;
  margin-left: -14rem;
  margin-top: -7rem;
  font-size: 200px;
  width: 200px;
  line-height: 1;
}

.about-right-layer {
  width: 50%;
  height: 100%;
  margin-top: 4.25rem;

  @media (max-width: 1260px) {
    width: 100%;
  }
}

.about-subtitle {
  font-weight: 400;
  margin-bottom: 80px;
  color: $white;
  letter-spacing: 15px;
  font-family: "Montserrat-Regular";

  @media (max-width: 450px) {
    font-size: 4vw;
  }
}

.about-description {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 150px;
  width: 80%;
}

.about-technos {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  margin-bottom: 150px;
}

.about-technos-part-1 {
  width: calc(100% / 3);
}

.about-technos-part-2 {
  width: calc(100% / 3);
}

.about-technos-part-3 {
  width: calc(100% / 3);
}

.about-social {
  margin-bottom: 150px;
}

.about-link {
  color: $white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition-duration: .3s;
  text-decoration: none;
  background: linear-gradient(to top, #FFF 0%, #FFF 100%, transparent 100%) no-repeat left top / 0 100%;
  transition: background-size .6s;
  width: 70%;
  margin-block-end: .5rem;
  margin-block-start: .5rem;

  svg {
    color: $black;
    transform: rotate(45deg);
    font-size: 1.2rem;
  }
}

.about-link:hover {
  transition-duration: .4s;
  color: $black;
  font-weight: 900;
  background-size: 100% 100%;
}

.about-email {
  margin-block-end: 0;
  cursor: pointer;
  width: 50%;
  display: block;
  
}

.about-email:hover {
    transition-duration: .4s;
    color: $black;
    font-weight: 900;
    background-size: 100% 100%;
}

.about-github {
  margin-block-end: 0;
  cursor: pointer;
  display: block;
  width: 50%;
  background: linear-gradient(to top, #FFF 0%, #FFF 100%, transparent 100%) no-repeat left top / 0 100%;
  transition: background-size .6s;
}

.about-github:hover {
  transition-duration: .4s;
  color: $black;
  font-weight: 900;
  background-size: 100% 100%;
}

.about-linkedin {
  margin-block-end: 0;
  cursor: pointer;
  display: block;
  width: 50%;
  background: linear-gradient(to top, #FFF 0%, #FFF 100%, transparent 100%) no-repeat left top / 0 100%;
  transition: background-size .6s;
}

.about-linkedin:hover {
  transition-duration: .4s;
  color: $black;
  font-weight: 900;
  background-size: 100% 100%;
}

.about-hire {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 87px;
  margin-bottom: 200px;
}

.about-epitech {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: transparent;
  border: 4px solid $white;
  color: $white;
  margin-right: 2rem;
  font-family: "Rikos";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  padding-top: .3rem;
  cursor: pointer;
}

.about-curriculum {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: transparent;
  border: 4px solid $white;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  padding-top: .3rem;
  cursor: pointer;
}