$green: #03B5AA;
$black: #2E2E3A;
$white: #FFFFFF;
$red: #D82222;
$white2: #F2F2F2;

.header-main {
  width: 100%;
  height: 8vh;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.header-container {
  width: 60%;
  margin: 0 auto;
  @media (max-width: 720px) {
    width: 80%;
  }
}

.header-wrapper {

}

.header-inner {
  position: relative;
  z-index: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.header-span-light {
  margin-left: 3rem;
  color: $white;
  font-weight: 700;
  font-size: 1.2rem;
  @media (max-width: 1100px) {
    font-size: 1.2rem;
    margin-left: 1.2rem;
  }
  @media (max-width: 720px) {
    font-size: 1rem;
    margin-left: 1.2rem;
  }
}

.header-span-dark {
  margin-left: 3rem;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  transition: color 1.3s;
  @media (max-width: 1100px) {
    font-size: 1.2rem;
    margin-left: 1.2rem;
  }
  @media (max-width: 720px) {
    font-size: 1rem;
    margin-left: 1.2rem;
  }
}

.header-link-light {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: $white;
  @media (max-width: 1100px) {
    font-size: 1.2rem;
  }
  @media (max-width: 720px) {
    font-size: 1rem;
  }
}

.header-link-dark {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  transition: color 1.3s;
  @media (max-width: 1100px) {
    font-size: 1.2rem;
  }
  @media (max-width: 720px) {
    font-size: 1rem;
  }
}

.header-close {
  .button {
    font-size: 2rem;
    font-weight: 900;
    color: $white;
  }

  .header-svg {
    color: $white;
    font-size: 1.4rem;
  }
}